h1 {
    font-size: 40px;
}

#Image-Maps-Com-image-maps-2014-09-02-141911, #Image-Maps-Com-image-maps-2014-09-02-141911, #Image-Maps-Com-image-maps-2014-09-02-141911 {
    width: 940px;;
    height: 342px;
    left: 68px;
}


