h1 {
    font-size: 40px;
}

h2 {
    font-size: 19px;
}


.topleft {
    position: absolute;
    top: 25px;
    left: 62px;
    display:inline-block;
    padding-bottom: 1px;//as per your requirement
}
 
body {
    background-image: url(../images/global/background.png);
}