html{
	margin:0;
	padding:0;
	width:1024px;
	height:768px;
	-webkit-tap-highlight-color: transparent;
}

.patientprofile {
    position: absolute;
    left: 65px;
    top: 90px;
}

body {
	background-color:#e0e0e0;
	margin:0;
	padding:0;
	background-image: url(../images/global/background.png);
	background-repeat:no-repeat;
	background-size: 1024px 768px;
	position:relative;
	width:1024px;
	height:768px;
	overflow:hidden;
}

.speed {
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}


@font-face
{
    font-family: gothamMedium;
    src: url(../fonts/Gotham/Gotham-Medium.otf);
}

@font-face
{
    font-family: gothamBook;
    src: url(../fonts/Gotham/Gotham-Book.otf);
}

@font-face
{
    font-family: gothamXNarrow;
    src: url(../fonts/Gotham-XNarrow/GothamXNarrow-Medium.otf);
}

.gothamMedium {
    font-family: gothamMedium;
}

.gothamBook {
    font-family: gothamBook;
}

.gothamXNarrow {
    font-family: gothamXNarrow;
}


.detail_header {
    font-size: 44px;
    font-family: gothamMedium;
}

.darkblue {
    color: #005daa;
}

.darkgray {
    color: #666666;
}

.lightblue {
    color: #5bb4e5;
}


.disclaimer {
    font-size: 14px;
    font-family: gothamXNarrow;
    color: #666;
}

.abs {
	position: absolute;
}



.left{
	float: left;
}

.right{
	float: right;
}

.center{
	text-align: center;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.hide{
	display:none;
}

.invisible{
	visibility:hidden;
}

.trans
{
	opacity:0;
	-webkit-opacity: 0;
}

header{
	position:absolute;
	top: 50px;
	right: 59px;
	height: 48px;
}

nav{

}

footer
{
	position:absolute;
	bottom:55px;
	right:70px;
	z-index:998;
}

.animationLayer
{
	width: 1024px;
	height: 768px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	padding:0;
	margin:0;
}

sup {
    font-size: larger;
    top: 0.2em;
    position: relative;
}

.underline {
    color: rgb(0, 93, 170); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(0, 93, 170);
}