

#carousel {
	position:absolute;
	top:-80px;
	left:-170px;
	opacity:0;
}

#headline {
	position: absolute;
	left: 0;
	top: -30px;
	opacity:0;
}

#i0 {
	position:absolute;
}

#i1 {
	position:absolute;
}

#i2 {
	position:absolute;
}

#i3 {
	position:absolute;
}

#i4 {
	position:absolute;
}
	