h1 {
    font-size: 26px;
}


.helpspatients {
   position: absolute;
   left: 69px;
   top: 247px;
}

.betweenfood {
   position: absolute;
   left: 69px;
   top: 282px;
}

.bloodglucoseresults {
    position: absolute;
    left: 69px;
    top: 317px;
}


.meter {
    position: absolute;
    top: 200px;
    left: 461px;
}


.easytouse {
    position: absolute;
    left: 69px;
    top: 407px;
}

.easytouse_message {
    position: absolute;
    top: 500px;
    left: 660px;
    z-index: 10;
}

.mealflagging {
    position: absolute;
    left: 69px;
    top: 467px;
}

.mealflagging_message {
    position: absolute;
    left: 690px;
    top: 400px;
    z-index: 10;
}

.trusted {
    position: absolute;
    left: 69px;
    top: 527px;
}

.trusted_message {
    position: absolute;
    left: 606px;
    top: 250px;
}


