h1 {
    font-size: 40px;
}



.makestesting {
    position: absolute;
    top: 240px;
    left: 69px;
}

.simple {
    position: absolute;
    left: 69px;
    top: 285px;
}

.easytouse {
    position: absolute;
    left: 69px;
    top: 407px;
}

.findshighsandlows {

    position: absolute;
    left: 69px;
    top: 464px;
}

.onesteptagging {
    position: absolute;
    left: 69px;
    top: 522px;
}



.onesteptagging_message {

    position: absolute;
    top: 397px;
    left: 601px;
}

.accuracy {
    position: absolute;
    left: 69px;
    top: 580px;
}

.white {
    color: white;
}



.onscreenmessage {
    position: absolute;
    left: 477px;
    top: 322px;
}



.leftdot {
    position: absolute;
    left: 667px;
    top: 606px;
    display: none;
}

.rightdot {
    position: absolute;
    left: 685px;
    top: 606px;
    display: none;
}

.tinybloodsample {
    position: absolute;
    left: 550px;
    top: 200px;
}

.state1 {
    display: none;
}

.easytouse_state2 {
    position: absolute;
    left: 537px;
    top: 201px;
    display: none;
}


.state2 {
    display: none;
}

.profile {
    position: absolute;
    left: 200px;
    top: 300px;
    z-index: 10000;
}

.onscreenmessage_message {
    position: absolute;
    top: 400px;
    left: 600px;
}

.easytouse_message {
    position: absolute;
    top: 380px;
    left: 590px;
}

.findshighsandlows_message {
    position: absolute;
    left: 590px;
    top: 410px;
    z-index: 1000;
}

.testingconvenience_message {
    position: absolute;
    left: 540px;
    top: 200px;
}

.verioiq_background {
    background-image: url(../images/Details/iq_meter_white_bkgd.png);
}

.verioiq_background_illuminated {
    background-image: url(../images/Details/iq_meter_illuminated_bkgd.png);
}

#chart {
	position: absolute;
	left:710px;
	top:472px;
}
