h1 {
    font-size: 40px;
}



.more {
    position: absolute;
    top: 258px;
    left: 69px;
}

.information {
       position: absolute;
    top: 298px;
    left: 69px;
}

.ataglance {
    position: absolute;
    left: 69px;
    top: 335px;
}

.easytouse {
    position: absolute;
    left: 69px;
    top: 407px;
}

.colorrangeindicator {

    position: absolute;
    left: 69px;
    top: 464px;
}

.automaticmessages {
    position: absolute;
    left: 69px;
    top: 522px;
}



.onesteptagging_message {

    position: absolute;
    top: 400px;
    left: 600px;
}

.accuracy {
    position: absolute;
    left: 69px;
    top: 580px;
}

.white {
    color: white;
}



.onscreenmessage {
    position: absolute;
    left: 463px;
    top: 304px;
}



.leftdot {
    position: absolute;
    left: 667px;
    top: 606px;
    display: none;
}

.rightdot {
    position: absolute;
    left: 685px;
    top: 606px;
    display: none;
}

.tinybloodsample {
    position: absolute;
    left: 550px;
    top: 200px;
}

.state1 {
    display: none;
}

.easytouse_state2 {
    position: absolute;
    left: 537px;
    top: 201px;
    display: none;
}


.state2 {
    display: none;
}

.profile {
    z-index: 10000;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 300px;
}

.onscreenmessage_message {
    position: absolute;
    top: 400px;
    left: 600px;
}

.easytouse_message {
    position: absolute;
    top: 380px;
    left: 635px;
}

.colorrangeindicator_message {
    position: absolute;
    left: 630px;
    top: 410px;
}

.testingconvenience_message {
    position: absolute;
    left: 540px;
    top: 200px;
}

.verio_background {
    background-image: url(../images/Details/backgroundwithlogo.png);
}



#chart {
	position: absolute;
	left:710px;
	top:442px;
}
